# Created by https://www.toptal.com/developers/gitignore/api/extjs
# Edit at https://www.toptal.com/developers/gitignore?templates=extjs

### ExtJs ###
build/
ext/
# End of https://www.toptal.com/developers/gitignore/api/extjs